<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br><br>

<footer>
  <% if logged_in? %>
    <%= button_to "Sign out", session_url, method: :delete  %>
  <% else  %>
    <%= button_to "Sign in", new_session_url, method: :get %>
  <% end %>
</footer>
</body>
</html>
